In [1]:
import os
import numpy as np
import pandas as pd
import time
import datetime
from datetime import datetime

# 忽略警告訊息
import warnings
warnings.filterwarnings('ignore')

# 2018 Q1

### 1. 讀取「保單資料」及「保費資料」

In [2]:
""" 輸入資料儲存路徑 """
dir_data = '/Users/YenLin/Desktop/PAA/Data/'

""" 輸入檔案名稱 """
policy_data_name = '保單資料_2018Q1.txt'
premium_data_name = '保費資料_2018Q1.txt'

""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
policy_data = os.path.join( dir_data, policy_data_name )
premium_data = os.path.join( dir_data, premium_data_name )
print( 'Path of Read in Policy Data: %s' % ( policy_data ) )
print( 'Path of Read in Premium Data: %s' % ( premium_data ) )

# 資料讀取
Policy_data = pd.read_csv( policy_data, encoding = 'utf-8' )
Premium_data = pd.read_csv( premium_data, encoding = 'utf-8' )

Path of Read in Policy Data: /Users/YenLin/Desktop/PAA/Data/保單資料_2018Q1.txt
Path of Read in Premium Data: /Users/YenLin/Desktop/PAA/Data/保費資料_2018Q1.txt

### 2. 資料格式調整
- 時間欄位  
- 百分比轉浮點小數

#### (2-1) 保單資料

In [3]:
# 日期欄位：str 轉為 datetime
""" 輸入保單資料中記載日期的欄位名稱 """
date_col = [ '簽單日', '保費到期日', '保險起日', '保險迄日' ]

""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
for col in date_col :
    Policy_data[ col ] = Policy_data[ col ].apply( lambda x : datetime.strptime( x, '%Y-%m-%d' ).date( ) ) 

# 百分比轉為浮點小數
Policy_data[ '佣金率' ] = Policy_data[ '佣金率' ].str.strip( '%' ).astype( float ) / 100 

print( '當期保單資料 : ' ) 
Policy_data

當期保單資料 :

   保批單號碼   Group         簽單日       保費到期日        保險起日        保險迄日  簽單保費  佣金率
0  A0001  A_2018  2018-01-01  2018-01-01  2018-01-01  2018-12-31  1200  0.2
1  A0002  A_2018  2018-01-01  2018-01-01  2018-01-01  2018-12-31  1200  0.2
2  A0003  A_2018  2018-01-01  2018-01-01  2018-01-01  2018-12-31  1200  0.2
3  A0004  A_2018  2018-02-01  2018-02-01  2018-02-01  2019-01-31  1200  0.2
4  A0005  A_2018  2018-02-01  2018-02-01  2018-02-01  2019-01-31  1200  0.2
5  A0006  A_2018  2018-02-01  2018-02-01  2018-02-01  2019-01-31  1200  0.2
6  A0007  A_2018  2018-03-01  2018-03-01  2018-03-01  2019-02-28  1200  0.2
7  A0008  A_2018  2018-03-01  2018-03-01  2018-03-01  2019-02-28  1200  0.2
8  A0009  A_2018  2018-03-01  2018-03-01  2018-03-01  2019-02-28  1200  0.2

#### (2-2) 保費資料

In [4]:
""" 輸入保費資料中記載日期的欄位名稱 """
date_col = [ '保費收取日', '佣金支付日' ]

""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
for col in date_col :
    Premium_data[ col ] = Premium_data[ col ].apply( lambda x : datetime.strptime( x, '%Y-%m-%d' ).date( ) ) 

print( '當期保費資料 : ' ) 
Premium_data

當期保費資料 :

   保批單號碼       保費收取日  保費收取金額       佣金支付日  佣金支付金額
0  A0001  2018-01-31    1200  2018-01-31     240
1  A0002  2018-01-31    1200  2018-01-31     240
2  A0005  2018-02-28    1200  2018-02-28     240
3  A0007  2018-03-31    1200  2018-03-31     240
4  A0008  2018-03-31    1200  2018-03-31     240

### 3. 合併當期「保單資料」及「保費資料」

In [5]:
Q1_data = pd.merge( Policy_data, Premium_data, on = [ '保批單號碼' ], how = 'outer' )
Q1_data

,保批單號碼,Group,簽單日,保費到期日,保險起日,保險迄日,簽單保費,佣金率,保費收取日,保費收取金額,佣金支付日,佣金支付金額
0,A0001,A_2018,2018-01-01,2018-01-01,2018-01-01,2018-12-31,1200,0.2,2018-01-31,1200.0,2018-01-31,240.0
1,A0002,A_2018,2018-01-01,2018-01-01,2018-01-01,2018-12-31,1200,0.2,2018-01-31,1200.0,2018-01-31,240.0
2,A0003,A_2018,2018-01-01,2018-01-01,2018-01-01,2018-12-31,1200,0.2,NaN,NaN,NaN,NaN
3,A0004,A_2018,2018-02-01,2018-02-01,2018-02-01,2019-01-31,1200,0.2,NaN,NaN,NaN,NaN
4,A0005,A_2018,2018-02-01,2018-02-01,2018-02-01,2019-01-31,1200,0.2,2018-02-28,1200.0,2018-02-28,240.0
5,A0006,A_2018,2018-02-01,2018-02-01,2018-02-01,2019-01-31,1200,0.2,NaN,NaN,NaN,NaN
6,A0007,A_2018,2018-03-01,2018-03-01,2018-03-01,2019-02-28,1200,0.2,2018-03-31,1200.0,2018-03-31,240.0
7,A0008,A_2018,2018-03-01,2018-03-01,2018-03-01,2019-02-28,1200,0.2,2018-03-31,1200.0,2018-03-31,240.0
8,A0009,A_2018,2018-03-01,2018-03-01,2018-03-01,2019-02-28,1200,0.2,NaN,NaN,NaN,NaN

### 4. 保單的「初始認列日」
##### 保險合約群組(group)應於下列日期中最早者認列：
- 該群組保障期間開始日
- 該群組之被保險人第一期保費到期日
- 對於虧損性合約群組，當該群組已成為虧損時點

In [6]:
Q1_data[ '初始認列日' ] = np.nan

# 選取合約群組中最早認列的日期
first_date = Q1_data[ [ '保費到期日', '保險起日' ] ].min( 1 ).min( )

# 判斷群組中每張保單的「初始認列日」
for i in np.arange( len( Q1_data[ '保批單號碼' ] ) ) :
    if min( Q1_data[ '保費到期日' ][i], Q1_data[ '保險起日' ][i] ) == first_date :
        Q1_data[ '初始認列日' ][i] = first_date
    elif  min( Q1_data[ '保費到期日' ][i], Q1_data[ '保險起日' ][i] ) > first_date :
        Q1_data[ '初始認列日' ][i] = min( Q1_data[ '簽單日' ][i], Q1_data[ '保費到期日' ][i], Q1_data[ '保險起日' ][i] ) 
    else :
        Q1_data[ '初始認列日' ][i] = np.nan
        
Q1_data

,保批單號碼,Group,簽單日,保費到期日,保險起日,保險迄日,簽單保費,佣金率,保費收取日,保費收取金額,佣金支付日,佣金支付金額,初始認列日
0,A0001,A_2018,2018-01-01,2018-01-01,2018-01-01,2018-12-31,1200,0.2,2018-01-31,1200.0,2018-01-31,240.0,2018-01-01
1,A0002,A_2018,2018-01-01,2018-01-01,2018-01-01,2018-12-31,1200,0.2,2018-01-31,1200.0,2018-01-31,240.0,2018-01-01
2,A0003,A_2018,2018-01-01,2018-01-01,2018-01-01,2018-12-31,1200,0.2,NaN,NaN,NaN,NaN,2018-01-01
3,A0004,A_2018,2018-02-01,2018-02-01,2018-02-01,2019-01-31,1200,0.2,NaN,NaN,NaN,NaN,2018-02-01
4,A0005,A_2018,2018-02-01,2018-02-01,2018-02-01,2019-01-31,1200,0.2,2018-02-28,1200.0,2018-02-28,240.0,2018-02-01
5,A0006,A_2018,2018-02-01,2018-02-01,2018-02-01,2019-01-31,1200,0.2,NaN,NaN,NaN,NaN,2018-02-01
6,A0007,A_2018,2018-03-01,2018-03-01,2018-03-01,2019-02-28,1200,0.2,2018-03-31,1200.0,2018-03-31,240.0,2018-03-01
7,A0008,A_2018,2018-03-01,2018-03-01,2018-03-01,2019-02-28,1200,0.2,2018-03-31,1200.0,2018-03-31,240.0,2018-03-01
8,A0009,A_2018,2018-03-01,2018-03-01,2018-03-01,2019-02-28,1200,0.2,NaN,NaN,NaN,NaN,2018-03-01

### 5. 計算未到期負債(LRC)

##### 5-1 計算「保期(月)」及「當期已經過月數」

In [7]:
# 定義計算函數

def months( data, evaluate_date ) :
    # 計算保期(月份數)
    start_year = data[ '保險起日' ].apply( lambda x : x.year )
    end_year = data[ '保險迄日' ].apply( lambda x : x.year )
    start_month = data[ '保險起日' ].apply( lambda x : x.month )
    end_month = data[ '保險迄日' ].apply( lambda x : x.month )
    period = ( end_year - start_year )*12 + ( end_month - start_month + 1 )
    data[ '保期(月)' ] = period
    
    # 計算當期已經過月數
    evaluate_month = datetime.strptime( evaluate_date, '%Y-%m-%d' ).date( ).month
    data[ '當期已經過月數' ] =  evaluate_month - start_month + 1
    
    return data

In [8]:
""" 輸入評估日 """
months( Q1_data,  '2018-03-31' )  # 新增欄位：保期(月)、當期已經過月數

,保批單號碼,Group,簽單日,保費到期日,保險起日,保險迄日,簽單保費,佣金率,保費收取日,保費收取金額,佣金支付日,佣金支付金額,初始認列日,保期(月),當期已經過月數
0,A0001,A_2018,2018-01-01,2018-01-01,2018-01-01,2018-12-31,1200,0.2,2018-01-31,1200.0,2018-01-31,240.0,2018-01-01,12,3
1,A0002,A_2018,2018-01-01,2018-01-01,2018-01-01,2018-12-31,1200,0.2,2018-01-31,1200.0,2018-01-31,240.0,2018-01-01,12,3
2,A0003,A_2018,2018-01-01,2018-01-01,2018-01-01,2018-12-31,1200,0.2,NaN,NaN,NaN,NaN,2018-01-01,12,3
3,A0004,A_2018,2018-02-01,2018-02-01,2018-02-01,2019-01-31,1200,0.2,NaN,NaN,NaN,NaN,2018-02-01,12,2
4,A0005,A_2018,2018-02-01,2018-02-01,2018-02-01,2019-01-31,1200,0.2,2018-02-28,1200.0,2018-02-28,240.0,2018-02-01,12,2
5,A0006,A_2018,2018-02-01,2018-02-01,2018-02-01,2019-01-31,1200,0.2,NaN,NaN,NaN,NaN,2018-02-01,12,2
6,A0007,A_2018,2018-03-01,2018-03-01,2018-03-01,2019-02-28,1200,0.2,2018-03-31,1200.0,2018-03-31,240.0,2018-03-01,12,1
7,A0008,A_2018,2018-03-01,2018-03-01,2018-03-01,2019-02-28,1200,0.2,2018-03-31,1200.0,2018-03-31,240.0,2018-03-01,12,1
8,A0009,A_2018,2018-03-01,2018-03-01,2018-03-01,2019-02-28,1200,0.2,NaN,NaN,NaN,NaN,2018-03-01,12,1

##### 5-2 計算「期初LRC」

In [9]:
Q1_data[ '期初LRC' ] = np.nan  # 創造新的空白欄位

for i in np.arange( len( Q1_data[ '保批單號碼' ] ) ) :   
    if Q1_data[ '當期已經過月數' ][i] <= 3 :
        Q1_data[ '期初LRC' ][i] = 0
    else : 
        Q1_data[ '期初LRC' ][i] = 1

Q1_data

,保批單號碼,Group,簽單日,保費到期日,保險起日,保險迄日,簽單保費,佣金率,保費收取日,保費收取金額,佣金支付日,佣金支付金額,初始認列日,保期(月),當期已經過月數,期初LRC
0,A0001,A_2018,2018-01-01,2018-01-01,2018-01-01,2018-12-31,1200,0.2,2018-01-31,1200.0,2018-01-31,240.0,2018-01-01,12,3,0.0
1,A0002,A_2018,2018-01-01,2018-01-01,2018-01-01,2018-12-31,1200,0.2,2018-01-31,1200.0,2018-01-31,240.0,2018-01-01,12,3,0.0
2,A0003,A_2018,2018-01-01,2018-01-01,2018-01-01,2018-12-31,1200,0.2,NaN,NaN,NaN,NaN,2018-01-01,12,3,0.0
3,A0004,A_2018,2018-02-01,2018-02-01,2018-02-01,2019-01-31,1200,0.2,NaN,NaN,NaN,NaN,2018-02-01,12,2,0.0
4,A0005,A_2018,2018-02-01,2018-02-01,2018-02-01,2019-01-31,1200,0.2,2018-02-28,1200.0,2018-02-28,240.0,2018-02-01,12,2,0.0
5,A0006,A_2018,2018-02-01,2018-02-01,2018-02-01,2019-01-31,1200,0.2,NaN,NaN,NaN,NaN,2018-02-01,12,2,0.0
6,A0007,A_2018,2018-03-01,2018-03-01,2018-03-01,2019-02-28,1200,0.2,2018-03-31,1200.0,2018-03-31,240.0,2018-03-01,12,1,0.0
7,A0008,A_2018,2018-03-01,2018-03-01,2018-03-01,2019-02-28,1200,0.2,2018-03-31,1200.0,2018-03-31,240.0,2018-03-01,12,1,0.0
8,A0009,A_2018,2018-03-01,2018-03-01,2018-03-01,2019-02-28,1200,0.2,NaN,NaN,NaN,NaN,2018-03-01,12,1,0.0

##### 5-3 計算「當期已收保費」、「當期已付佣金」
- 當期已收保費 = 保費收取金額
- 當期已付佣金 = 佣金支付金額

In [10]:
# 對於當期未收取保費的保單，將「保費收取金額」及「佣金支付金額」補 0 
Q1_data = Q1_data.fillna( { '保費收取金額' : 0, '佣金支付金額' : 0 } )

##### 5-4 計算「當期認列之合約收入」、「取得成本攤銷」
- $ \displaystyle 當期認列之合約收入= 簽單保費  \times \frac{當期已經過月數}{保期(月)} $  
######    
- $ \displaystyle 取得成本攤銷 = 簽單保費  \times 佣金率 \times \frac{當期已經過月數}{保期(月)} $

In [11]:
Q1_data[ '當期認列之合約收入' ] =  Q1_data.apply( lambda X : X[ '簽單保費' ] * ( X[ '當期已經過月數' ] / X[ '保期(月)' ] ), axis=1 )
Q1_data[ '取得成本攤銷' ] = Q1_data.apply( lambda X : X[ '簽單保費' ] * X[ '佣金率' ] * ( X[ '當期已經過月數' ] / X[ '保期(月)' ] ), axis=1 )
Q1_data

,保批單號碼,Group,簽單日,保費到期日,保險起日,保險迄日,簽單保費,佣金率,保費收取日,保費收取金額,佣金支付日,佣金支付金額,初始認列日,保期(月),當期已經過月數,期初LRC,當期認列之合約收入,取得成本攤銷
0,A0001,A_2018,2018-01-01,2018-01-01,2018-01-01,2018-12-31,1200,0.2,2018-01-31,1200.0,2018-01-31,240.0,2018-01-01,12,3,0.0,300.0,60.0
1,A0002,A_2018,2018-01-01,2018-01-01,2018-01-01,2018-12-31,1200,0.2,2018-01-31,1200.0,2018-01-31,240.0,2018-01-01,12,3,0.0,300.0,60.0
2,A0003,A_2018,2018-01-01,2018-01-01,2018-01-01,2018-12-31,1200,0.2,NaN,0.0,NaN,0.0,2018-01-01,12,3,0.0,300.0,60.0
3,A0004,A_2018,2018-02-01,2018-02-01,2018-02-01,2019-01-31,1200,0.2,NaN,0.0,NaN,0.0,2018-02-01,12,2,0.0,200.0,40.0
4,A0005,A_2018,2018-02-01,2018-02-01,2018-02-01,2019-01-31,1200,0.2,2018-02-28,1200.0,2018-02-28,240.0,2018-02-01,12,2,0.0,200.0,40.0
5,A0006,A_2018,2018-02-01,2018-02-01,2018-02-01,2019-01-31,1200,0.2,NaN,0.0,NaN,0.0,2018-02-01,12,2,0.0,200.0,40.0
6,A0007,A_2018,2018-03-01,2018-03-01,2018-03-01,2019-02-28,1200,0.2,2018-03-31,1200.0,2018-03-31,240.0,2018-03-01,12,1,0.0,100.0,20.0
7,A0008,A_2018,2018-03-01,2018-03-01,2018-03-01,2019-02-28,1200,0.2,2018-03-31,1200.0,2018-03-31,240.0,2018-03-01,12,1,0.0,100.0,20.0
8,A0009,A_2018,2018-03-01,2018-03-01,2018-03-01,2019-02-28,1200,0.2,NaN,0.0,NaN,0.0,2018-03-01,12,1,0.0,100.0,20.0

##### 5-5 計算「期末LRC」
- $ 期末LRC = 期初LRC + 當期已收保費 - 當期已付佣金 - 當期認列之合約收入 + 取得成本攤銷 $

In [12]:
Q1_data[ '期末LRC' ] =  Q1_data.apply( lambda X : X[ '期初LRC' ] + X[ '保費收取金額' ] - X[ '佣金支付金額' ] - X[ '當期認列之合約收入' ] + X[ '取得成本攤銷' ] , axis=1 )
Q1_data

,保批單號碼,Group,簽單日,保費到期日,保險起日,保險迄日,簽單保費,佣金率,保費收取日,保費收取金額,佣金支付日,佣金支付金額,初始認列日,保期(月),當期已經過月數,期初LRC,當期認列之合約收入,取得成本攤銷,期末LRC
0,A0001,A_2018,2018-01-01,2018-01-01,2018-01-01,2018-12-31,1200,0.2,2018-01-31,1200.0,2018-01-31,240.0,2018-01-01,12,3,0.0,300.0,60.0,720.0
1,A0002,A_2018,2018-01-01,2018-01-01,2018-01-01,2018-12-31,1200,0.2,2018-01-31,1200.0,2018-01-31,240.0,2018-01-01,12,3,0.0,300.0,60.0,720.0
2,A0003,A_2018,2018-01-01,2018-01-01,2018-01-01,2018-12-31,1200,0.2,NaN,0.0,NaN,0.0,2018-01-01,12,3,0.0,300.0,60.0,-240.0
3,A0004,A_2018,2018-02-01,2018-02-01,2018-02-01,2019-01-31,1200,0.2,NaN,0.0,NaN,0.0,2018-02-01,12,2,0.0,200.0,40.0,-160.0
4,A0005,A_2018,2018-02-01,2018-02-01,2018-02-01,2019-01-31,1200,0.2,2018-02-28,1200.0,2018-02-28,240.0,2018-02-01,12,2,0.0,200.0,40.0,800.0
5,A0006,A_2018,2018-02-01,2018-02-01,2018-02-01,2019-01-31,1200,0.2,NaN,0.0,NaN,0.0,2018-02-01,12,2,0.0,200.0,40.0,-160.0
6,A0007,A_2018,2018-03-01,2018-03-01,2018-03-01,2019-02-28,1200,0.2,2018-03-31,1200.0,2018-03-31,240.0,2018-03-01,12,1,0.0,100.0,20.0,880.0
7,A0008,A_2018,2018-03-01,2018-03-01,2018-03-01,2019-02-28,1200,0.2,2018-03-31,1200.0,2018-03-31,240.0,2018-03-01,12,1,0.0,100.0,20.0,880.0
8,A0009,A_2018,2018-03-01,2018-03-01,2018-03-01,2019-02-28,1200,0.2,NaN,0.0,NaN,0.0,2018-03-01,12,1,0.0,100.0,20.0,-80.0

##### 5-5 計算「累積已收保費」、「累積已付佣金」

In [13]:
Q1_data[ '累積已收保費' ] = Q1_data[ '保費收取金額' ] 
Q1_data[ '累積已付佣金' ] = Q1_data[ '佣金支付金額' ] 
Q1_data

,保批單號碼,Group,簽單日,保費到期日,保險起日,保險迄日,簽單保費,佣金率,保費收取日,保費收取金額,...,佣金支付金額,初始認列日,保期(月),當期已經過月數,期初LRC,當期認列之合約收入,取得成本攤銷,期末LRC,累積已收保費,累積已付佣金
0,A0001,A_2018,2018-01-01,2018-01-01,2018-01-01,2018-12-31,1200,0.2,2018-01-31,1200.0,...,240.0,2018-01-01,12,3,0.0,300.0,60.0,720.0,1200.0,240.0
1,A0002,A_2018,2018-01-01,2018-01-01,2018-01-01,2018-12-31,1200,0.2,2018-01-31,1200.0,...,240.0,2018-01-01,12,3,0.0,300.0,60.0,720.0,1200.0,240.0
2,A0003,A_2018,2018-01-01,2018-01-01,2018-01-01,2018-12-31,1200,0.2,NaN,0.0,...,0.0,2018-01-01,12,3,0.0,300.0,60.0,-240.0,0.0,0.0
3,A0004,A_2018,2018-02-01,2018-02-01,2018-02-01,2019-01-31,1200,0.2,NaN,0.0,...,0.0,2018-02-01,12,2,0.0,200.0,40.0,-160.0,0.0,0.0
4,A0005,A_2018,2018-02-01,2018-02-01,2018-02-01,2019-01-31,1200,0.2,2018-02-28,1200.0,...,240.0,2018-02-01,12,2,0.0,200.0,40.0,800.0,1200.0,240.0
5,A0006,A_2018,2018-02-01,2018-02-01,2018-02-01,2019-01-31,1200,0.2,NaN,0.0,...,0.0,2018-02-01,12,2,0.0,200.0,40.0,-160.0,0.0,0.0
6,A0007,A_2018,2018-03-01,2018-03-01,2018-03-01,2019-02-28,1200,0.2,2018-03-31,1200.0,...,240.0,2018-03-01,12,1,0.0,100.0,20.0,880.0,1200.0,240.0
7,A0008,A_2018,2018-03-01,2018-03-01,2018-03-01,2019-02-28,1200,0.2,2018-03-31,1200.0,...,240.0,2018-03-01,12,1,0.0,100.0,20.0,880.0,1200.0,240.0
8,A0009,A_2018,2018-03-01,2018-03-01,2018-03-01,2019-02-28,1200,0.2,NaN,0.0,...,0.0,2018-03-01,12,1,0.0,100.0,20.0,-80.0,0.0,0.0

### 6. 財務報導與揭露
- 資產負債表 Statement of Financial Position
- 綜合損益表 Statement of Financial Performance

In [14]:
select_col = [ '保批單號碼', '保費收取金額', '佣金支付金額', '期末LRC', '當期認列之合約收入', '取得成本攤銷' ]
statement_data = Q1_data[ select_col ]
statement_data

   保批單號碼  保費收取金額  佣金支付金額  期末LRC  當期認列之合約收入  取得成本攤銷
0  A0001  1200.0   240.0  720.0      300.0    60.0
1  A0002  1200.0   240.0  720.0      300.0    60.0
2  A0003     0.0     0.0 -240.0      300.0    60.0
3  A0004     0.0     0.0 -160.0      200.0    40.0
4  A0005  1200.0   240.0  800.0      200.0    40.0
5  A0006     0.0     0.0 -160.0      200.0    40.0
6  A0007  1200.0   240.0  880.0      100.0    20.0
7  A0008  1200.0   240.0  880.0      100.0    20.0
8  A0009     0.0     0.0  -80.0      100.0    20.0

#### 資產負債表 Statement of Financial Position

In [15]:
Position_table = pd.DataFrame( columns = [ '現金', '合約資產', '合約負債' ], index = [ 'amounts' ]  )

# 當期現金 = 前期現金 + 當期已收保費 - 當期已付佣金
Position_table.loc[ 'amounts', '現金']  = statement_data[ '保費收取金額' ].sum( ) - statement_data[ '佣金支付金額' ].sum( ) 

# 合約資產、合約負債
LRC = statement_data[ '期末LRC' ].sum( )
if LRC > 0 :
    Position_table.loc[ 'amounts', '合約負債' ] = LRC
    Position_table.loc[ 'amounts', '合約資產' ] = 0
elif LRC < 0 :
    Position_table.loc[ 'amounts', '合約資產' ] = LRC
    Position_table.loc[ 'amounts', '合約負債' ] = 0
else : 
    Position_table.loc[ 'amounts', '合約資產' ] = 0 
    Position_table.loc[ 'amounts', '合約負債' ] = 0

# 業主權益 = 前期現金 + 合約資產 - 合約負債
Position_table[ '業主權益' ] = Position_table.apply( lambda X : X[ '現金' ] + X[ '合約資產' ] - X[ '合約負債' ], axis=1 )

print( '2018Q1 財務狀況表' )
Position_table

2018Q1 財務狀況表

           現金 合約資產  合約負債    業主權益
amounts  4800    0  3360  1440.0

#### 綜合損益表 Statement of Financial Performance

In [16]:
Performance_table = pd.DataFrame( columns = [ '合約收入', '已發生賠款', '取得成本攤銷',  ], index = [ 'amounts' ]  )

Performance_table.loc[ 'amounts', '合約收入' ] = statement_data[ '當期認列之合約收入' ].sum( )
Performance_table.loc[ 'amounts', '取得成本攤銷' ] = statement_data[ '取得成本攤銷' ].sum( )
Performance_table.loc[ 'amounts', '已發生賠款' ] = 0
Performance_table[ '保險損益' ] = Performance_table.apply( lambda X : X[ '合約收入' ] + X[ '已發生賠款' ] - X[ '取得成本攤銷' ], axis=1 )

print( '2018Q1 財務績效表' )
Performance_table

2018Q1 財務績效表

         合約收入 已發生賠款 取得成本攤銷    保險損益
amounts  1800     0    360  1440.0

# 2018 Q2

In [18]:
""" 輸入資料儲存路徑 """
dir_data = '/Users/YenLin/Desktop/PAA/Data/'

""" 輸入檔案名稱 """
policy_data_name = '保單資料_2018Q2.txt'
premium_data_name = '保費資料_2018Q2.txt'

""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
policy_data_2018Q2 = os.path.join( dir_data, policy_data_name )
premium_data_2018Q2 = os.path.join( dir_data, premium_data_name )
print( 'Path of Read in 2018Q2 Policy Data: %s' % ( policy_data_2018Q2 ) )
print( 'Path of Read in 2018Q2 Premium Data: %s' % ( premium_data_2018Q2 ) )

# 資料讀取
Policy_data_2018Q2 = pd.read_csv( policy_data_2018Q2, encoding = 'utf-8' )
Premium_data_2018Q2 = pd.read_csv( premium_data_2018Q2, encoding = 'utf-8' )

Path of Read in 2018Q2 Policy Data: /Users/YenLin/Desktop/PAA/Data/保單資料_2018Q2.txt
Path of Read in 2018Q2 Premium Data: /Users/YenLin/Desktop/PAA/Data/保費資料_2018Q2.txt

### 2. 資料格式調整
- 時間欄位  
- 百分比轉浮點小數

In [19]:
# 日期欄位：str 轉為 datetime
""" 輸入保單資料中記載日期的欄位名稱 """
date_col = [ '簽單日', '保費到期日', '保險起日', '保險迄日' ]

""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
for col in date_col :
    Policy_data_2018Q2[ col ] = Policy_data_2018Q2[ col ].apply( lambda x : datetime.strptime( x, '%Y-%m-%d' ).date( ) ) 

# 百分比轉為浮點小數
Policy_data_2018Q2[ '佣金率' ] = Policy_data_2018Q2[ '佣金率' ].str.strip( '%' ).astype( float ) / 100 

print( '當期保單資料 : ' ) 
Policy_data_2018Q2

當期保單資料 :

Empty DataFrame
Columns: [保批單號碼, Group, 簽單日, 保費到期日, 保險起日, 保險迄日, 簽單保費, 佣金率]
Index: []

In [20]:
""" 輸入保費資料中記載日期的欄位名稱 """
date_col = [ '保費收取日', '佣金支付日' ]

""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
for col in date_col :
    Premium_data_2018Q2[ col ] = Premium_data_2018Q2[ col ].apply( lambda x : datetime.strptime( x, '%Y-%m-%d' ).date( ) ) 

print( '當期保費資料 : ' ) 
Premium_data_2018Q2

當期保費資料 :

   保批單號碼       保費收取日  保費收取金額       佣金支付日  佣金支付金額
0  A0003  2018-04-26    1200  2018-04-26     240
1  A0004  2018-05-15    1200  2018-05-15     240
2  A0006  2018-06-28    1200  2018-06-28     240
3  A0009  2018-06-25    1200  2018-06-25     240