In [1]:
import os
import numpy as np
import pandas as pd
import time
import copy
import datetime
from datetime import datetime

# 忽略警告訊息
import warnings
warnings.filterwarnings( 'ignore' )

# 2018 Q1

### 1. 讀取「保單資料」及「保費資料」

In [2]:
""" 輸入資料儲存路徑 """
dir_data = '/Users/YenLin/Desktop/PAA/Data/'


""" 輸入檔案名稱 """
policy_data_name = '保單資料_2018Q1.txt'
premium_data_name = '保費資料_2018Q1.txt'

In [3]:
policy_data = os.path.join( dir_data, policy_data_name )
premium_data = os.path.join( dir_data, premium_data_name )
print( 'Path of Read in Policy Data: %s' % ( policy_data ) )
print( 'Path of Read in Premium Data: %s' % ( premium_data ) )

# 資料讀取
Policy_data_Q1 = pd.read_csv( policy_data, encoding = 'utf-8' )
Premium_data_Q1 = pd.read_csv( premium_data, encoding = 'utf-8' )

Path of Read in Policy Data: /Users/YenLin/Desktop/PAA/Data/保單資料_2018Q1.txt
Path of Read in Premium Data: /Users/YenLin/Desktop/PAA/Data/保費資料_2018Q1.txt

In [4]:
Policy_data_Q1

   保批單號碼   Group         簽單日       保費到期日        保險起日        保險迄日  簽單保費  佣金率
0  A0001  A_2018  2018-01-01  2018-01-01  2018-01-01  2018-12-31  1200  20%
1  A0002  A_2018  2018-01-01  2018-01-01  2018-01-01  2018-12-31  1200  20%
2  A0003  A_2018  2018-01-01  2018-01-01  2018-01-01  2018-12-31  1200  20%
3  A0004  A_2018  2018-02-01  2018-02-01  2018-02-01  2019-01-31  1200  20%
4  A0005  A_2018  2018-02-01  2018-02-01  2018-02-01  2019-01-31  1200  20%
5  A0006  A_2018  2018-02-01  2018-02-01  2018-02-01  2019-01-31  1200  20%
6  A0007  A_2018  2018-03-01  2018-03-01  2018-03-01  2019-02-28  1200  20%
7  A0008  A_2018  2018-03-01  2018-03-01  2018-03-01  2019-02-28  1200  20%
8  A0009  A_2018  2018-03-01  2018-03-01  2018-03-01  2019-02-28  1200  20%

In [5]:
Premium_data_Q1

   保批單號碼       保費收取日  保費收取金額       佣金支付日  佣金支付金額
0  A0001  2018-01-31    1200  2018-01-31     240
1  A0002  2018-01-31    1200  2018-01-31     240
2  A0005  2018-02-28    1200  2018-02-28     240
3  A0007  2018-03-31    1200  2018-03-31     240
4  A0008  2018-03-31    1200  2018-03-31     240

### 2. 資料格式調整
- 時間欄位  
- 百分比轉浮點小數

#### (2-1) 保單資料

#### 日期欄位 str 轉為 datetime 及 百分比轉為浮點小數

In [6]:
""" 輸入保單資料中記載日期的欄位名稱 """
date_col = [ '簽單日', '保費到期日', '保險起日', '保險迄日' ]

""" 輸入保單資料中呈現百分比的欄位名稱 """
percentage_col = [ '佣金率' ]

In [7]:
for col_1 in date_col :
    Policy_data_Q1[ col_1 ] = Policy_data_Q1[ col_1 ].apply( lambda x : datetime.strptime( x, '%Y-%m-%d' ).date( ) ) 

for col_2 in percentage_col :  
    Policy_data_Q1[ col_2 ] = Policy_data_Q1[ col_2 ].str.strip( '%' ).astype( float ) / 100 


print( 'Q1 保單資料 : ' ) 
Policy_data_Q1

Q1 保單資料 :

   保批單號碼   Group         簽單日       保費到期日        保險起日        保險迄日  簽單保費  佣金率
0  A0001  A_2018  2018-01-01  2018-01-01  2018-01-01  2018-12-31  1200  0.2
1  A0002  A_2018  2018-01-01  2018-01-01  2018-01-01  2018-12-31  1200  0.2
2  A0003  A_2018  2018-01-01  2018-01-01  2018-01-01  2018-12-31  1200  0.2
3  A0004  A_2018  2018-02-01  2018-02-01  2018-02-01  2019-01-31  1200  0.2
4  A0005  A_2018  2018-02-01  2018-02-01  2018-02-01  2019-01-31  1200  0.2
5  A0006  A_2018  2018-02-01  2018-02-01  2018-02-01  2019-01-31  1200  0.2
6  A0007  A_2018  2018-03-01  2018-03-01  2018-03-01  2019-02-28  1200  0.2
7  A0008  A_2018  2018-03-01  2018-03-01  2018-03-01  2019-02-28  1200  0.2
8  A0009  A_2018  2018-03-01  2018-03-01  2018-03-01  2019-02-28  1200  0.2

#### (2-2) 保費資料

#### 日期欄位 str 轉為 datetime 及 百分比轉為浮點小數

In [8]:
""" 輸入保費資料中記載日期的欄位名稱 """
date_col = [ '保費收取日', '佣金支付日' ]

In [9]:
for col_3 in date_col :
    Premium_data_Q1[ col_3 ] = Premium_data_Q1[ col_3 ].apply( lambda x : datetime.strptime( x, '%Y-%m-%d' ).date( ) ) 

print( 'Q1 保費資料 : ' ) 
Premium_data_Q1

Q1 保費資料 :

   保批單號碼       保費收取日  保費收取金額       佣金支付日  佣金支付金額
0  A0001  2018-01-31    1200  2018-01-31     240
1  A0002  2018-01-31    1200  2018-01-31     240
2  A0005  2018-02-28    1200  2018-02-28     240
3  A0007  2018-03-31    1200  2018-03-31     240
4  A0008  2018-03-31    1200  2018-03-31     240

### 3. 合併當期「保單資料」及「保費資料」

In [10]:
Q1_data = pd.merge( Policy_data_Q1, Premium_data_Q1, on = [ '保批單號碼' ], how = 'outer' )
Q1 = copy.deepcopy( Q1_data )

Q1_data

,保批單號碼,Group,簽單日,保費到期日,保險起日,保險迄日,簽單保費,佣金率,保費收取日,保費收取金額,佣金支付日,佣金支付金額
0,A0001,A_2018,2018-01-01,2018-01-01,2018-01-01,2018-12-31,1200,0.2,2018-01-31,1200.0,2018-01-31,240.0
1,A0002,A_2018,2018-01-01,2018-01-01,2018-01-01,2018-12-31,1200,0.2,2018-01-31,1200.0,2018-01-31,240.0
2,A0003,A_2018,2018-01-01,2018-01-01,2018-01-01,2018-12-31,1200,0.2,NaN,NaN,NaN,NaN
3,A0004,A_2018,2018-02-01,2018-02-01,2018-02-01,2019-01-31,1200,0.2,NaN,NaN,NaN,NaN
4,A0005,A_2018,2018-02-01,2018-02-01,2018-02-01,2019-01-31,1200,0.2,2018-02-28,1200.0,2018-02-28,240.0
5,A0006,A_2018,2018-02-01,2018-02-01,2018-02-01,2019-01-31,1200,0.2,NaN,NaN,NaN,NaN
6,A0007,A_2018,2018-03-01,2018-03-01,2018-03-01,2019-02-28,1200,0.2,2018-03-31,1200.0,2018-03-31,240.0
7,A0008,A_2018,2018-03-01,2018-03-01,2018-03-01,2019-02-28,1200,0.2,2018-03-31,1200.0,2018-03-31,240.0
8,A0009,A_2018,2018-03-01,2018-03-01,2018-03-01,2019-02-28,1200,0.2,NaN,NaN,NaN,NaN

### 4. 保單的「初始認列日」
##### 保險合約群組(group)應於下列日期中最早者認列：
- 該群組保障期間開始日
- 該群組之被保險人第一期保費到期日
- 對於虧損性合約群組，當該群組已成為虧損時點

In [11]:
Q1_data[ '初始認列日' ] = np.nan

# 選取合約群組中最早認列的日期
first_date = Q1_data[ [ '保費到期日', '保險起日' ] ].min( 1 ).min( )

# 判斷群組中每張保單的「初始認列日」
for i in np.arange( len( Q1_data[ '保批單號碼' ] ) ) :
    if min( Q1_data[ '保費到期日' ][i], Q1_data[ '保險起日' ][i] ) == first_date :
        Q1_data[ '初始認列日' ][i] = first_date
    elif  min( Q1_data[ '保費到期日' ][i], Q1_data[ '保險起日' ][i] ) > first_date :
        Q1_data[ '初始認列日' ][i] = min( Q1_data[ '簽單日' ][i], Q1_data[ '保費到期日' ][i], Q1_data[ '保險起日' ][i] ) 
    else :
        Q1_data[ '初始認列日' ][i] = np.nan
        
# Q1_data

### 5. 計算未到期負債(LRC)

##### 5-1 計算「保期(月)」及「當期已經過月數」

#### 輸入評估日期

In [12]:
""" 輸入評估日 """
valuation_date = '2018-03-31'

In [13]:
# 定義計算函數

def months( data, evaluate_date ) :
    # 計算保期(月份數)
    start_year = data[ '保險起日' ].apply( lambda x : x.year )
    end_year = data[ '保險迄日' ].apply( lambda x : x.year )
    start_month = data[ '保險起日' ].apply( lambda x : x.month )
    end_month = data[ '保險迄日' ].apply( lambda x : x.month )
    period = ( end_year - start_year )*12 + ( end_month - start_month + 1 )
    data[ '保期(月)' ] = period
    
    # 計算當期已經過月數
    evaluate_month = datetime.strptime( evaluate_date, '%Y-%m-%d' ).date( ).month
    data[ '當期已經過月數' ] =  evaluate_month - start_month + 1
    
    return data

In [14]:
months( Q1_data,  valuation_date )  # 新增欄位：保期(月)、當期已經過月數

,保批單號碼,Group,簽單日,保費到期日,保險起日,保險迄日,簽單保費,佣金率,保費收取日,保費收取金額,佣金支付日,佣金支付金額,初始認列日,保期(月),當期已經過月數
0,A0001,A_2018,2018-01-01,2018-01-01,2018-01-01,2018-12-31,1200,0.2,2018-01-31,1200.0,2018-01-31,240.0,2018-01-01,12,3
1,A0002,A_2018,2018-01-01,2018-01-01,2018-01-01,2018-12-31,1200,0.2,2018-01-31,1200.0,2018-01-31,240.0,2018-01-01,12,3
2,A0003,A_2018,2018-01-01,2018-01-01,2018-01-01,2018-12-31,1200,0.2,NaN,NaN,NaN,NaN,2018-01-01,12,3
3,A0004,A_2018,2018-02-01,2018-02-01,2018-02-01,2019-01-31,1200,0.2,NaN,NaN,NaN,NaN,2018-02-01,12,2
4,A0005,A_2018,2018-02-01,2018-02-01,2018-02-01,2019-01-31,1200,0.2,2018-02-28,1200.0,2018-02-28,240.0,2018-02-01,12,2
5,A0006,A_2018,2018-02-01,2018-02-01,2018-02-01,2019-01-31,1200,0.2,NaN,NaN,NaN,NaN,2018-02-01,12,2
6,A0007,A_2018,2018-03-01,2018-03-01,2018-03-01,2019-02-28,1200,0.2,2018-03-31,1200.0,2018-03-31,240.0,2018-03-01,12,1
7,A0008,A_2018,2018-03-01,2018-03-01,2018-03-01,2019-02-28,1200,0.2,2018-03-31,1200.0,2018-03-31,240.0,2018-03-01,12,1
8,A0009,A_2018,2018-03-01,2018-03-01,2018-03-01,2019-02-28,1200,0.2,NaN,NaN,NaN,NaN,2018-03-01,12,1

##### 5-2 計算「期初LRC」

In [15]:
Q1_data[ '期初LRC' ] = np.nan  # 創造新的空白欄位

for i in np.arange( len( Q1_data[ '保批單號碼' ] ) ) :   
    if Q1_data[ '當期已經過月數' ][i] <= 3 :
        Q1_data[ '期初LRC' ][i] = 0
    else : 
        Q1_data[ '期初LRC' ][i] = 1

Q1_data

,保批單號碼,Group,簽單日,保費到期日,保險起日,保險迄日,簽單保費,佣金率,保費收取日,保費收取金額,佣金支付日,佣金支付金額,初始認列日,保期(月),當期已經過月數,期初LRC
0,A0001,A_2018,2018-01-01,2018-01-01,2018-01-01,2018-12-31,1200,0.2,2018-01-31,1200.0,2018-01-31,240.0,2018-01-01,12,3,0.0
1,A0002,A_2018,2018-01-01,2018-01-01,2018-01-01,2018-12-31,1200,0.2,2018-01-31,1200.0,2018-01-31,240.0,2018-01-01,12,3,0.0
2,A0003,A_2018,2018-01-01,2018-01-01,2018-01-01,2018-12-31,1200,0.2,NaN,NaN,NaN,NaN,2018-01-01,12,3,0.0
3,A0004,A_2018,2018-02-01,2018-02-01,2018-02-01,2019-01-31,1200,0.2,NaN,NaN,NaN,NaN,2018-02-01,12,2,0.0
4,A0005,A_2018,2018-02-01,2018-02-01,2018-02-01,2019-01-31,1200,0.2,2018-02-28,1200.0,2018-02-28,240.0,2018-02-01,12,2,0.0
5,A0006,A_2018,2018-02-01,2018-02-01,2018-02-01,2019-01-31,1200,0.2,NaN,NaN,NaN,NaN,2018-02-01,12,2,0.0
6,A0007,A_2018,2018-03-01,2018-03-01,2018-03-01,2019-02-28,1200,0.2,2018-03-31,1200.0,2018-03-31,240.0,2018-03-01,12,1,0.0
7,A0008,A_2018,2018-03-01,2018-03-01,2018-03-01,2019-02-28,1200,0.2,2018-03-31,1200.0,2018-03-31,240.0,2018-03-01,12,1,0.0
8,A0009,A_2018,2018-03-01,2018-03-01,2018-03-01,2019-02-28,1200,0.2,NaN,NaN,NaN,NaN,2018-03-01,12,1,0.0

##### 5-3 計算「當期已收保費」、「當期已付佣金」
- 當期已收保費 = 保費收取金額
- 當期已付佣金 = 佣金支付金額
- 對於當期未收取保費的保單，將「保費收取金額」及「佣金支付金額」補 0

In [16]:
Q1_data = Q1_data.fillna( { '保費收取金額' : 0, '佣金支付金額' : 0 } )

##### 5-4 計算「當期認列之合約收入」、「取得成本攤銷」
- $ \displaystyle 當期認列之合約收入= 簽單保費  \times \frac{當期已經過月數}{保期(月)} $  
######    
- $ \displaystyle 取得成本攤銷 = 簽單保費  \times 佣金率 \times \frac{當期已經過月數}{保期(月)} $

In [17]:
Q1_data[ '當期認列之合約收入' ] =  Q1_data.apply( lambda X : X[ '簽單保費' ] * ( X[ '當期已經過月數' ] / X[ '保期(月)' ] ), axis = 1 )
Q1_data[ '取得成本攤銷' ] = Q1_data.apply( lambda X : X[ '簽單保費' ] * X[ '佣金率' ] * ( X[ '當期已經過月數' ] / X[ '保期(月)' ] ), axis = 1 )
Q1_data

,保批單號碼,Group,簽單日,保費到期日,保險起日,保險迄日,簽單保費,佣金率,保費收取日,保費收取金額,佣金支付日,佣金支付金額,初始認列日,保期(月),當期已經過月數,期初LRC,當期認列之合約收入,取得成本攤銷
0,A0001,A_2018,2018-01-01,2018-01-01,2018-01-01,2018-12-31,1200,0.2,2018-01-31,1200.0,2018-01-31,240.0,2018-01-01,12,3,0.0,300.0,60.0
1,A0002,A_2018,2018-01-01,2018-01-01,2018-01-01,2018-12-31,1200,0.2,2018-01-31,1200.0,2018-01-31,240.0,2018-01-01,12,3,0.0,300.0,60.0
2,A0003,A_2018,2018-01-01,2018-01-01,2018-01-01,2018-12-31,1200,0.2,NaN,0.0,NaN,0.0,2018-01-01,12,3,0.0,300.0,60.0
3,A0004,A_2018,2018-02-01,2018-02-01,2018-02-01,2019-01-31,1200,0.2,NaN,0.0,NaN,0.0,2018-02-01,12,2,0.0,200.0,40.0
4,A0005,A_2018,2018-02-01,2018-02-01,2018-02-01,2019-01-31,1200,0.2,2018-02-28,1200.0,2018-02-28,240.0,2018-02-01,12,2,0.0,200.0,40.0
5,A0006,A_2018,2018-02-01,2018-02-01,2018-02-01,2019-01-31,1200,0.2,NaN,0.0,NaN,0.0,2018-02-01,12,2,0.0,200.0,40.0
6,A0007,A_2018,2018-03-01,2018-03-01,2018-03-01,2019-02-28,1200,0.2,2018-03-31,1200.0,2018-03-31,240.0,2018-03-01,12,1,0.0,100.0,20.0
7,A0008,A_2018,2018-03-01,2018-03-01,2018-03-01,2019-02-28,1200,0.2,2018-03-31,1200.0,2018-03-31,240.0,2018-03-01,12,1,0.0,100.0,20.0
8,A0009,A_2018,2018-03-01,2018-03-01,2018-03-01,2019-02-28,1200,0.2,NaN,0.0,NaN,0.0,2018-03-01,12,1,0.0,100.0,20.0

##### 5-5 計算「期末LRC」
- $ 期末LRC = 期初LRC + 當期已收保費 - 當期已付佣金 - 當期認列之合約收入 + 取得成本攤銷 $

In [18]:
Q1_data[ '期末LRC' ] =  Q1_data.apply( lambda X : X[ '期初LRC' ] + X[ '保費收取金額' ] - X[ '佣金支付金額' ] - X[ '當期認列之合約收入' ] + X[ '取得成本攤銷' ] , axis=1 )
Q1_data

,保批單號碼,Group,簽單日,保費到期日,保險起日,保險迄日,簽單保費,佣金率,保費收取日,保費收取金額,佣金支付日,佣金支付金額,初始認列日,保期(月),當期已經過月數,期初LRC,當期認列之合約收入,取得成本攤銷,期末LRC
0,A0001,A_2018,2018-01-01,2018-01-01,2018-01-01,2018-12-31,1200,0.2,2018-01-31,1200.0,2018-01-31,240.0,2018-01-01,12,3,0.0,300.0,60.0,720.0
1,A0002,A_2018,2018-01-01,2018-01-01,2018-01-01,2018-12-31,1200,0.2,2018-01-31,1200.0,2018-01-31,240.0,2018-01-01,12,3,0.0,300.0,60.0,720.0
2,A0003,A_2018,2018-01-01,2018-01-01,2018-01-01,2018-12-31,1200,0.2,NaN,0.0,NaN,0.0,2018-01-01,12,3,0.0,300.0,60.0,-240.0
3,A0004,A_2018,2018-02-01,2018-02-01,2018-02-01,2019-01-31,1200,0.2,NaN,0.0,NaN,0.0,2018-02-01,12,2,0.0,200.0,40.0,-160.0
4,A0005,A_2018,2018-02-01,2018-02-01,2018-02-01,2019-01-31,1200,0.2,2018-02-28,1200.0,2018-02-28,240.0,2018-02-01,12,2,0.0,200.0,40.0,800.0
5,A0006,A_2018,2018-02-01,2018-02-01,2018-02-01,2019-01-31,1200,0.2,NaN,0.0,NaN,0.0,2018-02-01,12,2,0.0,200.0,40.0,-160.0
6,A0007,A_2018,2018-03-01,2018-03-01,2018-03-01,2019-02-28,1200,0.2,2018-03-31,1200.0,2018-03-31,240.0,2018-03-01,12,1,0.0,100.0,20.0,880.0
7,A0008,A_2018,2018-03-01,2018-03-01,2018-03-01,2019-02-28,1200,0.2,2018-03-31,1200.0,2018-03-31,240.0,2018-03-01,12,1,0.0,100.0,20.0,880.0
8,A0009,A_2018,2018-03-01,2018-03-01,2018-03-01,2019-02-28,1200,0.2,NaN,0.0,NaN,0.0,2018-03-01,12,1,0.0,100.0,20.0,-80.0

##### 5-5 計算「累積已收保費」、「累積已付佣金」

In [19]:
Q1_data[ '累積已收保費' ] = Q1_data[ '保費收取金額' ] 
Q1_data[ '累積已付佣金' ] = Q1_data[ '佣金支付金額' ] 
Q1_data

,保批單號碼,Group,簽單日,保費到期日,保險起日,保險迄日,簽單保費,佣金率,保費收取日,保費收取金額,...,佣金支付金額,初始認列日,保期(月),當期已經過月數,期初LRC,當期認列之合約收入,取得成本攤銷,期末LRC,累積已收保費,累積已付佣金
0,A0001,A_2018,2018-01-01,2018-01-01,2018-01-01,2018-12-31,1200,0.2,2018-01-31,1200.0,...,240.0,2018-01-01,12,3,0.0,300.0,60.0,720.0,1200.0,240.0
1,A0002,A_2018,2018-01-01,2018-01-01,2018-01-01,2018-12-31,1200,0.2,2018-01-31,1200.0,...,240.0,2018-01-01,12,3,0.0,300.0,60.0,720.0,1200.0,240.0
2,A0003,A_2018,2018-01-01,2018-01-01,2018-01-01,2018-12-31,1200,0.2,NaN,0.0,...,0.0,2018-01-01,12,3,0.0,300.0,60.0,-240.0,0.0,0.0
3,A0004,A_2018,2018-02-01,2018-02-01,2018-02-01,2019-01-31,1200,0.2,NaN,0.0,...,0.0,2018-02-01,12,2,0.0,200.0,40.0,-160.0,0.0,0.0
4,A0005,A_2018,2018-02-01,2018-02-01,2018-02-01,2019-01-31,1200,0.2,2018-02-28,1200.0,...,240.0,2018-02-01,12,2,0.0,200.0,40.0,800.0,1200.0,240.0
5,A0006,A_2018,2018-02-01,2018-02-01,2018-02-01,2019-01-31,1200,0.2,NaN,0.0,...,0.0,2018-02-01,12,2,0.0,200.0,40.0,-160.0,0.0,0.0
6,A0007,A_2018,2018-03-01,2018-03-01,2018-03-01,2019-02-28,1200,0.2,2018-03-31,1200.0,...,240.0,2018-03-01,12,1,0.0,100.0,20.0,880.0,1200.0,240.0
7,A0008,A_2018,2018-03-01,2018-03-01,2018-03-01,2019-02-28,1200,0.2,2018-03-31,1200.0,...,240.0,2018-03-01,12,1,0.0,100.0,20.0,880.0,1200.0,240.0
8,A0009,A_2018,2018-03-01,2018-03-01,2018-03-01,2019-02-28,1200,0.2,NaN,0.0,...,0.0,2018-03-01,12,1,0.0,100.0,20.0,-80.0,0.0,0.0

### 6. 財務報導與揭露
- 資產負債表 Statement of Financial Position
- 綜合損益表 Statement of Financial Performance

In [20]:
select_col = [ '保批單號碼', '保費收取金額', '佣金支付金額', '期末LRC', '當期認列之合約收入', '取得成本攤銷', '累積已收保費', '累積已付佣金' ]
Q1_statement_data = Q1_data[ select_col ]
Q1_statement_data

   保批單號碼  保費收取金額  佣金支付金額  期末LRC  當期認列之合約收入  取得成本攤銷  累積已收保費  累積已付佣金
0  A0001  1200.0   240.0  720.0      300.0    60.0  1200.0   240.0
1  A0002  1200.0   240.0  720.0      300.0    60.0  1200.0   240.0
2  A0003     0.0     0.0 -240.0      300.0    60.0     0.0     0.0
3  A0004     0.0     0.0 -160.0      200.0    40.0     0.0     0.0
4  A0005  1200.0   240.0  800.0      200.0    40.0  1200.0   240.0
5  A0006     0.0     0.0 -160.0      200.0    40.0     0.0     0.0
6  A0007  1200.0   240.0  880.0      100.0    20.0  1200.0   240.0
7  A0008  1200.0   240.0  880.0      100.0    20.0  1200.0   240.0
8  A0009     0.0     0.0  -80.0      100.0    20.0     0.0     0.0

#### 資產負債表 Statement of Financial Position

In [21]:
Position_table = pd.DataFrame( columns = [ '現金', '合約資產', '合約負債' ], index = [ '2018Q1_amounts' ]  )

# 當期現金 = 前期現金 + 當期已收保費 - 當期已付佣金
Position_table.loc[ '2018Q1_amounts', '現金']  = Q1_statement_data[ '保費收取金額' ].sum( ) - Q1_statement_data[ '佣金支付金額' ].sum( ) 

# 合約資產、合約負債
LRC = Q1_statement_data[ '期末LRC' ].sum( )
if LRC > 0 :
    Position_table.loc[ '2018Q1_amounts', '合約負債' ] = LRC
    Position_table.loc[ '2018Q1_amounts', '合約資產' ] = 0
elif LRC < 0 :
    Position_table.loc[ '2018Q1_amounts', '合約資產' ] = LRC
    Position_table.loc[ '2018Q1_amounts', '合約負債' ] = 0
else : 
    Position_table.loc[ '2018Q1_amounts', '合約資產' ] = 0 
    Position_table.loc[ '2018Q1_amounts', '合約負債' ] = 0

# 業主權益 = 前期現金 + 合約資產 - 合約負債
Position_table[ '業主權益' ] = Position_table.apply( lambda X : X[ '現金' ] + X[ '合約資產' ] - X[ '合約負債' ], axis = 1 )

print( '2018Q1 財務狀況表' )
Position_table

2018Q1 財務狀況表

                  現金 合約資產  合約負債    業主權益
2018Q1_amounts  4800    0  3360  1440.0

#### 綜合損益表 Statement of Financial Performance

In [22]:
Performance_table = pd.DataFrame( columns = [ '保險合約收入', '已發生賠款', '取得成本攤銷',  ], index = [ '2018Q1_amounts' ]  )

Performance_table.loc[ '2018Q1_amounts', '保險合約收入' ] = Q1_statement_data[ '當期認列之合約收入' ].sum( )
Performance_table.loc[ '2018Q1_amounts', '取得成本攤銷' ] = Q1_statement_data[ '取得成本攤銷' ].sum( )
Performance_table.loc[ '2018Q1_amounts', '已發生賠款' ] = 0
Performance_table[ '保險損益' ] = Performance_table.apply( lambda X : X[ '保險合約收入' ] - X[ '已發生賠款' ] - X[ '取得成本攤銷' ], axis=1 )

print( '2018Q1 財務績效表' )
Performance_table

2018Q1 財務績效表

               保險合約收入 已發生賠款 取得成本攤銷    保險損益
2018Q1_amounts   1800     0    360  1440.0

# 2018 Q2

##### 輸入資料載入及格式轉換相關資訊

In [23]:
""" 輸入評估日 """
valuation_date_2 = '2018-06-30'

""" 輸入資料儲存路徑 """
dir_data = '/Users/YenLin/Desktop/PAA/Data/'

""" 輸入檔案名稱 """
policy_data_name = '保單資料_2018Q2.txt'
premium_data_name = '保費資料_2018Q2.txt'


# 保單資料
""" 輸入保單資料中記載日期的欄位名稱 """
policy_date_col = [ '簽單日', '保費到期日', '保險起日', '保險迄日' ]

""" 輸入保單資料中呈現百分比的欄位名稱 """
policy_percentage_col = [ '佣金率' ]


# 保費資料
""" 輸入保費資料中記載日期的欄位名稱 """
premium_date_col = [ '保費收取日', '佣金支付日' ]

### 1. 讀取「保單資料」及「保費資料」in Q2

In [24]:
policy_data_Q2 = os.path.join( dir_data, policy_data_name )
premium_data_Q2 = os.path.join( dir_data, premium_data_name )
print( 'Path of Read in 2018Q2 Policy Data: %s' % ( policy_data_Q2 ) )
print( 'Path of Read in 2018Q2 Premium Data: %s' % ( premium_data_Q2 ) )

# 資料讀取
Policy_data_Q2 = pd.read_csv( policy_data_Q2, encoding = 'utf-8' )
Premium_data_Q2 = pd.read_csv( premium_data_Q2, encoding = 'utf-8' )

Path of Read in 2018Q2 Policy Data: /Users/YenLin/Desktop/PAA/Data/保單資料_2018Q2.txt
Path of Read in 2018Q2 Premium Data: /Users/YenLin/Desktop/PAA/Data/保費資料_2018Q2.txt

### 2. 資料格式調整
- 時間欄位  
- 百分比轉浮點小數

In [25]:
# 2018Q2 保單資料
for col_1 in policy_date_col :
    Policy_data_Q2[ col_1 ] = Policy_data_Q2[ col_1 ].apply( lambda x : datetime.strptime( x, '%Y-%m-%d' ).date( ) ) 

for col_2 in policy_percentage_col :  
    Policy_data_Q2[ col_2 ] = Policy_data_Q2[ col_2 ].str.strip( '%' ).astype( float ) / 100 

print( 'Q2 當期之保單資料筆數 = ' + str( Policy_data_Q2.shape[0] ) + '\n' )
print( 'Q2 當期保單資料 : ' ) 
Policy_data_Q2


#Policy_data_Q12 = pd.concat( [ Q1, Policy_data_Q2 ], axis = 0, ignore_index = True )
#print( '截至 Q2 保單資料筆數 = ' + str( Policy_data_Q12.shape[0] ) + '\n' )

Q2 當期之保單資料筆數 = 0

Q2 當期保單資料 :

Empty DataFrame
Columns: [保批單號碼, Group, 簽單日, 保費到期日, 保險起日, 保險迄日, 簽單保費, 佣金率]
Index: []

In [26]:
# 2018Q2 保費資料
for col in premium_date_col :
    Premium_data_Q2[ col ] = Premium_data_Q2[ col ].apply( lambda x : datetime.strptime( x, '%Y-%m-%d' ).date( ) ) 

print( 'Q2 當期之保費資料筆數 = ' + str( Premium_data_Q2.shape[0] ) + '\n' )
print( 'Q2 當期保費資料 : ' ) 
Premium_data_Q2

Q2 當期之保費資料筆數 = 4

Q2 當期保費資料 :

   保批單號碼       保費收取日  保費收取金額       佣金支付日  佣金支付金額
0  A0003  2018-04-26    1200  2018-04-26     240
1  A0004  2018-05-15    1200  2018-05-15     240
2  A0006  2018-06-28    1200  2018-06-28     240
3  A0009  2018-06-25    1200  2018-06-25     240

In [27]:
cols_name = [ '保批單號碼', 'Group', '簽單日', '保費到期日', '保險起日', '保險迄日', '簽單保費', '佣金率', '保費收取日', '保費收取金額', '佣金支付日', '佣金支付金額' ]

# 合併 Q2 當期保單及保費資料
Q2_data = pd.merge( Policy_data_Q2, Premium_data_Q2, on = [ '保批單號碼' ], how = 'left' )
Q2_data = Q2_data[ cols_name ]  # 調整欄位順序
Q2 = copy.deepcopy( Q2_data )

# 合併 Q2 及 Q1 當期保單保費資料
Q12_data = pd.concat( [ Q1, Q2_data ], axis = 0 )


Q12_data.set_index( '保批單號碼', inplace = True )
Premium_data_Q2.set_index( '保批單號碼', inplace = True )

Q12_data.update(  Premium_data_Q2 ) # 更新前期尚未收取保費的保單
Q12_data

,Group,簽單日,保費到期日,保險起日,保險迄日,簽單保費,佣金率,保費收取日,保費收取金額,佣金支付日,佣金支付金額
保批單號碼,,,,,,,,,,,
A0001,A_2018,2018-01-01,2018-01-01,2018-01-01,2018-12-31,1200,0.2,2018-01-31,1200.0,2018-01-31,240.0
A0002,A_2018,2018-01-01,2018-01-01,2018-01-01,2018-12-31,1200,0.2,2018-01-31,1200.0,2018-01-31,240.0
A0003,A_2018,2018-01-01,2018-01-01,2018-01-01,2018-12-31,1200,0.2,2018-04-26,1200.0,2018-04-26,240.0
A0004,A_2018,2018-02-01,2018-02-01,2018-02-01,2019-01-31,1200,0.2,2018-05-15,1200.0,2018-05-15,240.0
A0005,A_2018,2018-02-01,2018-02-01,2018-02-01,2019-01-31,1200,0.2,2018-02-28,1200.0,2018-02-28,240.0
A0006,A_2018,2018-02-01,2018-02-01,2018-02-01,2019-01-31,1200,0.2,2018-06-28,1200.0,2018-06-28,240.0
A0007,A_2018,2018-03-01,2018-03-01,2018-03-01,2019-02-28,1200,0.2,2018-03-31,1200.0,2018-03-31,240.0
A0008,A_2018,2018-03-01,2018-03-01,2018-03-01,2019-02-28,1200,0.2,2018-03-31,1200.0,2018-03-31,240.0
A0009,A_2018,2018-03-01,2018-03-01,2018-03-01,2019-02-28,1200,0.2,2018-06-25,1200.0,2018-06-25,240.0

In [28]:
def months_2( data, evaluate_date ) :
    start_year = data[ '保險起日' ].apply( lambda x : x.year )                             # 保險起日所屬年度
    end_year = data[ '保險迄日' ].apply( lambda x : x.year )                              # 保險迄日所屬年度
    start_month = data[ '保險起日' ].apply( lambda x : x.month )                       # 保險起日所屬月份
    end_month = data[ '保險迄日' ].apply( lambda x : x.month )                        # 保險迄日所屬月份
    evaluate_date = datetime.strptime( evaluate_date, '%Y-%m-%d' ).date( )   # 評估日
    evaluate_year = evaluate_date.year                                                         # 評估日所屬年度
    evaluate_month = evaluate_date.month                                                   # 評估日所屬月份
    
    if ( evaluate_month == 3 ) : 
        q_start_date = str( evaluate_year ) + '-' + '01-01'
        q_start_date =  datetime.strptime( q_start_date, '%Y-%m-%d' ).date( )   # 評估季的第一天日期   
    elif ( evaluate_month == 6 ) :
        q_start_date = str( evaluate_year ) + '-' + '04-01'
        q_start_date =  datetime.strptime( q_start_date, '%Y-%m-%d' ).date( )   # 評估季的第一天日期
    elif ( evaluate_month == 9 ) :
        q_start_date = str( evaluate_year ) + '-' + '07-01'
        q_start_date =  datetime.strptime( q_start_date, '%Y-%m-%d' ).date( )  # 評估季的第一天日期
    else :  
        q_start_date = str( evaluate_year ) + '-' + '10-01'
        q_start_date =  datetime.strptime( q_start_date, '%Y-%m-%d' ).date( )  # 評估季的第一天日期


    # 計算保期(月)
    period = ( end_year - start_year )*12 + ( end_month - start_month + 1 )
    data[ '保期(月)' ] = period
    
    # 計算當期已經過月數
    data[ '當期已經過月數' ] = np.nan
    for i in np.arange( data.shape[0] ) : 
        first_date = max( q_start_date,  data[ '保險起日' ][ i ] )
        least_date = min( evaluate_date, data[ '保險迄日' ][ i ] ) 
        first_date_year = first_date.year
        first_date_month = first_date.month
        least_date_year = least_date.year
        least_date_month = least_date.month
        data[ '當期已經過月數' ][ i ] = ( least_date_year - first_date_year )*12 + ( least_date_month - first_date_month + 1 )

    return data

In [29]:
months_2( Q12_data,  valuation_date_2 )  # 新增欄位：保期(月)、當期已經過月數

,Group,簽單日,保費到期日,保險起日,保險迄日,簽單保費,佣金率,保費收取日,保費收取金額,佣金支付日,佣金支付金額,保期(月),當期已經過月數
保批單號碼,,,,,,,,,,,,,
A0001,A_2018,2018-01-01,2018-01-01,2018-01-01,2018-12-31,1200,0.2,2018-01-31,1200.0,2018-01-31,240.0,12,3.0
A0002,A_2018,2018-01-01,2018-01-01,2018-01-01,2018-12-31,1200,0.2,2018-01-31,1200.0,2018-01-31,240.0,12,3.0
A0003,A_2018,2018-01-01,2018-01-01,2018-01-01,2018-12-31,1200,0.2,2018-04-26,1200.0,2018-04-26,240.0,12,3.0
A0004,A_2018,2018-02-01,2018-02-01,2018-02-01,2019-01-31,1200,0.2,2018-05-15,1200.0,2018-05-15,240.0,12,3.0
A0005,A_2018,2018-02-01,2018-02-01,2018-02-01,2019-01-31,1200,0.2,2018-02-28,1200.0,2018-02-28,240.0,12,3.0
A0006,A_2018,2018-02-01,2018-02-01,2018-02-01,2019-01-31,1200,0.2,2018-06-28,1200.0,2018-06-28,240.0,12,3.0
A0007,A_2018,2018-03-01,2018-03-01,2018-03-01,2019-02-28,1200,0.2,2018-03-31,1200.0,2018-03-31,240.0,12,3.0
A0008,A_2018,2018-03-01,2018-03-01,2018-03-01,2019-02-28,1200,0.2,2018-03-31,1200.0,2018-03-31,240.0,12,3.0
A0009,A_2018,2018-03-01,2018-03-01,2018-03-01,2019-02-28,1200,0.2,2018-06-25,1200.0,2018-06-25,240.0,12,3.0

In [30]:
Q12_data.reset_index( level = '保批單號碼', inplace = True )
Q12_data[ '期初LRC' ] = np.nan  # 創造新的空白欄位
#Policy_NO = Q12_data.index
#Policy_NO = list( Q12_data[ '保批單號碼' ] )
#Policy_NO

Ｑ1_Policy = list( Q1_statement_data[ '保批單號碼' ] )

for i in np.arange( Q12_data.shape[0] ) :   
    Policy_NO = Q12_data[ '保批單號碼' ][ i ]
    if ( Q12_data[ '保批單號碼' ][ i ] in Ｑ1_Policy ):   
        Q12_data[ '期初LRC' ][ i ] = Q1_statement_data.loc[ Q1_statement_data[ '保批單號碼' ].str.contains( Policy_NO ), '期末LRC'  ]
    else : 
        Q12_data[ '期初LRC' ][ i ] = 0

Q12_data

,保批單號碼,Group,簽單日,保費到期日,保險起日,保險迄日,簽單保費,佣金率,保費收取日,保費收取金額,佣金支付日,佣金支付金額,保期(月),當期已經過月數,期初LRC
0,A0001,A_2018,2018-01-01,2018-01-01,2018-01-01,2018-12-31,1200,0.2,2018-01-31,1200.0,2018-01-31,240.0,12,3.0,720.0
1,A0002,A_2018,2018-01-01,2018-01-01,2018-01-01,2018-12-31,1200,0.2,2018-01-31,1200.0,2018-01-31,240.0,12,3.0,720.0
2,A0003,A_2018,2018-01-01,2018-01-01,2018-01-01,2018-12-31,1200,0.2,2018-04-26,1200.0,2018-04-26,240.0,12,3.0,-240.0
3,A0004,A_2018,2018-02-01,2018-02-01,2018-02-01,2019-01-31,1200,0.2,2018-05-15,1200.0,2018-05-15,240.0,12,3.0,-160.0
4,A0005,A_2018,2018-02-01,2018-02-01,2018-02-01,2019-01-31,1200,0.2,2018-02-28,1200.0,2018-02-28,240.0,12,3.0,800.0
5,A0006,A_2018,2018-02-01,2018-02-01,2018-02-01,2019-01-31,1200,0.2,2018-06-28,1200.0,2018-06-28,240.0,12,3.0,-160.0
6,A0007,A_2018,2018-03-01,2018-03-01,2018-03-01,2019-02-28,1200,0.2,2018-03-31,1200.0,2018-03-31,240.0,12,3.0,880.0
7,A0008,A_2018,2018-03-01,2018-03-01,2018-03-01,2019-02-28,1200,0.2,2018-03-31,1200.0,2018-03-31,240.0,12,3.0,880.0
8,A0009,A_2018,2018-03-01,2018-03-01,2018-03-01,2019-02-28,1200,0.2,2018-06-25,1200.0,2018-06-25,240.0,12,3.0,-80.0

In [31]:
Q2_start_date = datetime.strptime( '2018-04-01', '%Y-%m-%d' ).date( )

Q12_data[ '當期已收保費' ] = np.nan  
Q12_data[ '當期已付佣金' ] = np.nan  

for i in np.arange( Q12_data.shape[0] ) :   
    Policy_NO = Q12_data[ '保批單號碼' ][ i ]
    if Q12_data[ '保費收取日' ][ i ] >= Q2_start_date :
        Q12_data[ '當期已收保費' ][ i ] = Q12_data[ '保費收取金額' ][ i ] 
        Q12_data[ '當期已付佣金' ][ i ] = Q12_data[ '佣金支付金額' ][ i ] 
    else : 
        Q12_data[ '當期已收保費' ][ i ] = 0
        Q12_data[ '當期已付佣金' ][ i ] = 0

Q12_data

,保批單號碼,Group,簽單日,保費到期日,保險起日,保險迄日,簽單保費,佣金率,保費收取日,保費收取金額,佣金支付日,佣金支付金額,保期(月),當期已經過月數,期初LRC,當期已收保費,當期已付佣金
0,A0001,A_2018,2018-01-01,2018-01-01,2018-01-01,2018-12-31,1200,0.2,2018-01-31,1200.0,2018-01-31,240.0,12,3.0,720.0,0.0,0.0
1,A0002,A_2018,2018-01-01,2018-01-01,2018-01-01,2018-12-31,1200,0.2,2018-01-31,1200.0,2018-01-31,240.0,12,3.0,720.0,0.0,0.0
2,A0003,A_2018,2018-01-01,2018-01-01,2018-01-01,2018-12-31,1200,0.2,2018-04-26,1200.0,2018-04-26,240.0,12,3.0,-240.0,1200.0,240.0
3,A0004,A_2018,2018-02-01,2018-02-01,2018-02-01,2019-01-31,1200,0.2,2018-05-15,1200.0,2018-05-15,240.0,12,3.0,-160.0,1200.0,240.0
4,A0005,A_2018,2018-02-01,2018-02-01,2018-02-01,2019-01-31,1200,0.2,2018-02-28,1200.0,2018-02-28,240.0,12,3.0,800.0,0.0,0.0
5,A0006,A_2018,2018-02-01,2018-02-01,2018-02-01,2019-01-31,1200,0.2,2018-06-28,1200.0,2018-06-28,240.0,12,3.0,-160.0,1200.0,240.0
6,A0007,A_2018,2018-03-01,2018-03-01,2018-03-01,2019-02-28,1200,0.2,2018-03-31,1200.0,2018-03-31,240.0,12,3.0,880.0,0.0,0.0
7,A0008,A_2018,2018-03-01,2018-03-01,2018-03-01,2019-02-28,1200,0.2,2018-03-31,1200.0,2018-03-31,240.0,12,3.0,880.0,0.0,0.0
8,A0009,A_2018,2018-03-01,2018-03-01,2018-03-01,2019-02-28,1200,0.2,2018-06-25,1200.0,2018-06-25,240.0,12,3.0,-80.0,1200.0,240.0

In [32]:
Q12_data[ '當期認列之合約收入' ] =  Q12_data.apply( lambda X : X[ '簽單保費' ] * ( X[ '當期已經過月數' ] / X[ '保期(月)' ] ), axis = 1 )
Q12_data[ '取得成本攤銷' ] = Q12_data.apply( lambda X : X[ '簽單保費' ] * X[ '佣金率' ] * ( X[ '當期已經過月數' ] / X[ '保期(月)' ] ), axis = 1 )
Q12_data[ '期末LRC' ] =  Q12_data.apply( lambda X : X[ '期初LRC' ] + X[ '當期已收保費' ] - X[ '當期已付佣金' ] - X[ '當期認列之合約收入' ] + X[ '取得成本攤銷' ] , axis=1 )

Q12_data

,保批單號碼,Group,簽單日,保費到期日,保險起日,保險迄日,簽單保費,佣金率,保費收取日,保費收取金額,佣金支付日,佣金支付金額,保期(月),當期已經過月數,期初LRC,當期已收保費,當期已付佣金,當期認列之合約收入,取得成本攤銷,期末LRC
0,A0001,A_2018,2018-01-01,2018-01-01,2018-01-01,2018-12-31,1200,0.2,2018-01-31,1200.0,2018-01-31,240.0,12,3.0,720.0,0.0,0.0,300.0,60.0,480.0
1,A0002,A_2018,2018-01-01,2018-01-01,2018-01-01,2018-12-31,1200,0.2,2018-01-31,1200.0,2018-01-31,240.0,12,3.0,720.0,0.0,0.0,300.0,60.0,480.0
2,A0003,A_2018,2018-01-01,2018-01-01,2018-01-01,2018-12-31,1200,0.2,2018-04-26,1200.0,2018-04-26,240.0,12,3.0,-240.0,1200.0,240.0,300.0,60.0,480.0
3,A0004,A_2018,2018-02-01,2018-02-01,2018-02-01,2019-01-31,1200,0.2,2018-05-15,1200.0,2018-05-15,240.0,12,3.0,-160.0,1200.0,240.0,300.0,60.0,560.0
4,A0005,A_2018,2018-02-01,2018-02-01,2018-02-01,2019-01-31,1200,0.2,2018-02-28,1200.0,2018-02-28,240.0,12,3.0,800.0,0.0,0.0,300.0,60.0,560.0
5,A0006,A_2018,2018-02-01,2018-02-01,2018-02-01,2019-01-31,1200,0.2,2018-06-28,1200.0,2018-06-28,240.0,12,3.0,-160.0,1200.0,240.0,300.0,60.0,560.0
6,A0007,A_2018,2018-03-01,2018-03-01,2018-03-01,2019-02-28,1200,0.2,2018-03-31,1200.0,2018-03-31,240.0,12,3.0,880.0,0.0,0.0,300.0,60.0,640.0
7,A0008,A_2018,2018-03-01,2018-03-01,2018-03-01,2019-02-28,1200,0.2,2018-03-31,1200.0,2018-03-31,240.0,12,3.0,880.0,0.0,0.0,300.0,60.0,640.0
8,A0009,A_2018,2018-03-01,2018-03-01,2018-03-01,2019-02-28,1200,0.2,2018-06-25,1200.0,2018-06-25,240.0,12,3.0,-80.0,1200.0,240.0,300.0,60.0,640.0

In [33]:
Q12_data[ '累積已收保費' ] = np.nan
Q12_data[ '累積已付佣金' ] = np.nan

for i in np.arange( Q12_data.shape[0] ) :   
    Policy_NO = Q12_data[ '保批單號碼' ][ i ]
    if ( Q12_data[ '保批單號碼' ][ i ] in Ｑ1_Policy ) : 
        Q12_data[ '累積已收保費' ][ i ] = Q1_statement_data.loc[ Q1_statement_data[ '保批單號碼' ].str.contains( Policy_NO ), '累積已收保費'  ] + Q12_data.loc[ Q1_statement_data[ '保批單號碼' ].str.contains( Policy_NO ), '當期已收保費'  ]
        Q12_data[ '累積已付佣金' ][ i ] = Q1_statement_data.loc[ Q1_statement_data[ '保批單號碼' ].str.contains( Policy_NO ), '累積已付佣金'  ] + Q12_data.loc[ Q1_statement_data[ '保批單號碼' ].str.contains( Policy_NO ), '當期已付佣金'  ]
    else : 
        Q12_data[ '累積已收保費' ][ i ] = Q12_data[ '當期已收保費' ][ i ] 
        Q12_data[ '累積已付佣金' ][ i ] = Q12_data[ '當期已付佣金' ][ i ] 

Q12_data

,保批單號碼,Group,簽單日,保費到期日,保險起日,保險迄日,簽單保費,佣金率,保費收取日,保費收取金額,...,保期(月),當期已經過月數,期初LRC,當期已收保費,當期已付佣金,當期認列之合約收入,取得成本攤銷,期末LRC,累積已收保費,累積已付佣金
0,A0001,A_2018,2018-01-01,2018-01-01,2018-01-01,2018-12-31,1200,0.2,2018-01-31,1200.0,...,12,3.0,720.0,0.0,0.0,300.0,60.0,480.0,1200.0,240.0
1,A0002,A_2018,2018-01-01,2018-01-01,2018-01-01,2018-12-31,1200,0.2,2018-01-31,1200.0,...,12,3.0,720.0,0.0,0.0,300.0,60.0,480.0,1200.0,240.0
2,A0003,A_2018,2018-01-01,2018-01-01,2018-01-01,2018-12-31,1200,0.2,2018-04-26,1200.0,...,12,3.0,-240.0,1200.0,240.0,300.0,60.0,480.0,1200.0,240.0
3,A0004,A_2018,2018-02-01,2018-02-01,2018-02-01,2019-01-31,1200,0.2,2018-05-15,1200.0,...,12,3.0,-160.0,1200.0,240.0,300.0,60.0,560.0,1200.0,240.0
4,A0005,A_2018,2018-02-01,2018-02-01,2018-02-01,2019-01-31,1200,0.2,2018-02-28,1200.0,...,12,3.0,800.0,0.0,0.0,300.0,60.0,560.0,1200.0,240.0
5,A0006,A_2018,2018-02-01,2018-02-01,2018-02-01,2019-01-31,1200,0.2,2018-06-28,1200.0,...,12,3.0,-160.0,1200.0,240.0,300.0,60.0,560.0,1200.0,240.0
6,A0007,A_2018,2018-03-01,2018-03-01,2018-03-01,2019-02-28,1200,0.2,2018-03-31,1200.0,...,12,3.0,880.0,0.0,0.0,300.0,60.0,640.0,1200.0,240.0
7,A0008,A_2018,2018-03-01,2018-03-01,2018-03-01,2019-02-28,1200,0.2,2018-03-31,1200.0,...,12,3.0,880.0,0.0,0.0,300.0,60.0,640.0,1200.0,240.0
8,A0009,A_2018,2018-03-01,2018-03-01,2018-03-01,2019-02-28,1200,0.2,2018-06-25,1200.0,...,12,3.0,-80.0,1200.0,240.0,300.0,60.0,640.0,1200.0,240.0

In [34]:
select_col = [ '保批單號碼',  '期初LRC', '當期已收保費', '當期已付佣金', '期末LRC', '當期認列之合約收入', '取得成本攤銷', '累積已收保費', '累積已付佣金' ]
Q2_statement_data = Q12_data[ select_col ]
Q2_statement_data

   保批單號碼  期初LRC  當期已收保費  當期已付佣金  期末LRC  當期認列之合約收入  取得成本攤銷  累積已收保費  累積已付佣金
0  A0001  720.0     0.0     0.0  480.0      300.0    60.0  1200.0   240.0
1  A0002  720.0     0.0     0.0  480.0      300.0    60.0  1200.0   240.0
2  A0003 -240.0  1200.0   240.0  480.0      300.0    60.0  1200.0   240.0
3  A0004 -160.0  1200.0   240.0  560.0      300.0    60.0  1200.0   240.0
4  A0005  800.0     0.0     0.0  560.0      300.0    60.0  1200.0   240.0
5  A0006 -160.0  1200.0   240.0  560.0      300.0    60.0  1200.0   240.0
6  A0007  880.0     0.0     0.0  640.0      300.0    60.0  1200.0   240.0
7  A0008  880.0     0.0     0.0  640.0      300.0    60.0  1200.0   240.0
8  A0009  -80.0  1200.0   240.0  640.0      300.0    60.0  1200.0   240.0

In [35]:
Position_table.loc[ '2018Q2_amounts', : ] = np.nan

Position_table.loc[ '2018Q2_amounts', '現金']  = Position_table.loc[ '2018Q1_amounts', '現金'] + Q2_statement_data[ '當期已收保費' ].sum( ) - Q2_statement_data[ '當期已付佣金' ].sum( )
# 合約資產、合約負債
LRC = Q2_statement_data[ '期末LRC' ].sum( )
if LRC > 0 :
    Position_table.loc[ '2018Q2_amounts', '合約負債' ] = LRC
    Position_table.loc[ '2018Q2_amounts', '合約資產' ] = 0
elif LRC < 0 :
    Position_table.loc[ '2018Q2_amounts', '合約資產' ] = LRC
    Position_table.loc[ '2018Q2_amounts', '合約負債' ] = 0
else : 
    Position_table.loc[ '2018Q2_amounts', '合約資產' ] = 0 
    Position_table.loc[ '2018Q2_amounts', '合約負債' ] = 0

Position_table[ '業主權益' ] = Position_table.apply( lambda X : X[ '現金' ] + X[ '合約資產' ] - X[ '合約負債' ], axis = 1 )
Position_table

                  現金  合約資產  合約負債    業主權益
2018Q1_amounts  4800     0  3360  1440.0
2018Q2_amounts  8640     0  5040  3600.0

In [40]:
Performance_table.loc[ '2018Q2_amounts', : ]= np.nan

Performance_table.loc[ '2018Q2_amounts', '保險合約收入' ] = Q2_statement_data[ '當期認列之合約收入' ].sum( )
Performance_table.loc[ '2018Q2_amounts', '取得成本攤銷' ] = Q2_statement_data[ '取得成本攤銷' ].sum( )
Performance_table.loc[ '2018Q2_amounts', '已發生賠款' ] = 0
Performance_table[ '保險損益' ] = Performance_table.apply( lambda X : X[ '保險合約收入' ] - X[ '已發生賠款' ] - X[ '取得成本攤銷' ], axis=1 )

print( '2018Q2 財務績效表' )
Performance_table

2018Q2 財務績效表

                保險合約收入  已發生賠款  取得成本攤銷    保險損益
2018Q1_amounts  1800.0    0.0   360.0  1440.0
2018Q2_amounts  2700.0    0.0   540.0  2160.0

In [41]:
Performance_table

                保險合約收入  已發生賠款  取得成本攤銷    保險損益
2018Q1_amounts  1800.0    0.0   360.0  1440.0
2018Q2_amounts  2700.0    0.0   540.0  2160.0

In [178]:
# 將 Q1 資料區分成保費已收及尚未收兩部分
Q1_paid = Q1[ Q1[ '保費收取日' ].isnull( ).values != True ]        # 保費已收取的保單
Q1_unpaid = Q1[ Q1[ '保費收取日' ].isnull( ).values == True ]    # 保費尚未收取的保單

# 更新前一季尚未收取保費之保單資料
Q1_unpaid.set_index( '保批單號碼', inplace = True )
Premium_data_Q2.set_index( '保批單號碼', inplace = True )
Premium_data_Q2

Q1_unpaid.update( Premium_data_Q2 )
Q1_unpaid

,Group,簽單日,保費到期日,保險起日,保險迄日,簽單保費,佣金率,保費收取日,保費收取金額,佣金支付日,佣金支付金額
保批單號碼,,,,,,,,,,,
A0003,A_2018,2018-01-01,2018-01-01,2018-01-01,2018-12-31,1200,0.2,2018-04-26,1200.0,2018-04-26,240.0
A0004,A_2018,2018-02-01,2018-02-01,2018-02-01,2019-01-31,1200,0.2,2018-05-15,1200.0,2018-05-15,240.0
A0006,A_2018,2018-02-01,2018-02-01,2018-02-01,2019-01-31,1200,0.2,2018-06-28,1200.0,2018-06-28,240.0
A0009,A_2018,2018-03-01,2018-03-01,2018-03-01,2019-02-28,1200,0.2,2018-06-25,1200.0,2018-06-25,240.0

In [151]:
Premium_data_Q2.set_index( '保批單號碼', inplace = True )
Premium_data_Q2

            保費收取日  保費收取金額       佣金支付日  佣金支付金額
保批單號碼
A0003  2018-04-26    1200  2018-04-26     240
A0004  2018-05-15    1200  2018-05-15     240
A0006  2018-06-28    1200  2018-06-28     240
A0009  2018-06-25    1200  2018-06-25     240

In [143]:
Q1_unpaid.update( Premium_data_Q2, overwrite = False )
Q1_unpaid

,Group,簽單日,保費到期日,保險起日,保險迄日,簽單保費,佣金率,保費收取日,保費收取金額,佣金支付日,佣金支付金額
保批單號碼,,,,,,,,,,,
A0003,A_2018,2018-01-01,2018-01-01,2018-01-01,2018-12-31,1200,0.2,2018-04-26,1200.0,2018-04-26,240.0
A0004,A_2018,2018-02-01,2018-02-01,2018-02-01,2019-01-31,1200,0.2,2018-05-15,1200.0,2018-05-15,240.0
A0006,A_2018,2018-02-01,2018-02-01,2018-02-01,2019-01-31,1200,0.2,2018-06-28,1200.0,2018-06-28,240.0
A0009,A_2018,2018-03-01,2018-03-01,2018-03-01,2019-02-28,1200,0.2,2018-06-25,1200.0,2018-06-25,240.0

In [101]:
Q2_data = pd.merge( Policy_data_Q2, Premium_data_Q2, on = [ '保批單號碼' ], how = 'outer' )
#Q2 = copy.deepcopy( Q2_data )

Q2_data

,Group,簽單日,保費到期日,保險起日,保險迄日,簽單保費,佣金率,保批單號碼,保費收取日,保費收取金額,佣金支付日,佣金支付金額
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A0003,2018-04-26,1200,2018-04-26,240
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A0004,2018-05-15,1200,2018-05-15,240
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A0006,2018-06-28,1200,2018-06-28,240
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A0009,2018-06-25,1200,2018-06-25,240